cftime==1.6.1
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
dask
fsspec
locket
netCDF4
numpy
packaging
pandas
partd
pyarrow
pyparsing
python-dateutil
pytz
PyYAML
six
toolz
xarray
